.imgSlider{
    width: 100%;
    height: 400px;
    padding: 0;

};
.title{
margin-left: 20px;
};
.titleBox{
    position: absolute;
    
}
.txtTitle{
    color: #fff;
    margin-bottom: 0px;
    padding:0px 5px 5px;
}
.txtBox{
    padding-top: 10px;
    background-color: #000;
    margin-bottom: 0px;
    text-align: center; 

}

@media (max-width:400px) {
    .imgSlider{
        height: 150px;
    }
    .txtTitle{
        font-size: 14px;
    }
    .txtBox{
        padding-top: 5px;
    }
}